<header class="actor-header">
    <div class="flexrow header-row-top">
        {{> "systems/vtm5e/display/shared/actors/parts/header-image.hbs"}}
        <div class="flexcol">
            {{> "systems/vtm5e/display/shared/actors/parts/header-name.hbs"}}
            <div class="header-info-group">
                <span class="header-details">
                    {{localize 'WOD5E.VTM.Domitor'}}
                </span>
                <input
                    name="system.headers.domitor"
                    type="text"
                    value="{{domitor}}"
                    placeholder="{{localize 'WOD5E.VTM.Domitor'}}" />
            </div>
        </div>
    </div>
    <div class="flexrow header-row-bottom">
        <div class="flexcol flex0">
            {{> "systems/vtm5e/display/shared/actors/parts/health.hbs"}}
            {{> "systems/vtm5e/display/shared/actors/parts/willpower.hbs"}}
        </div>
        <div class="flexcol flex0">
            {{> "systems/vtm5e/display/vtm/actors/parts/humanity.hbs"}}
        </div>
    </div>
</header>
