<header class="actor-header">
    <div class="flexrow header-row-top">
        {{> "systems/vtm5e/display/shared/actors/parts/header-image.hbs"}}
        <div class="flexcol">
            {{> "systems/vtm5e/display/shared/actors/parts/header-name.hbs"}}
            {{> "systems/vtm5e/display/vtm/actors/parts/details.hbs"}}
        </div>
        <div class="flexrow flex0 header-elements">
            {{> "systems/vtm5e/display/vtm/actors/parts/rouse.hbs"}}
            {{> "systems/vtm5e/display/vtm/actors/parts/frenzy.hbs"}}
        </div>
    </div>
    <div class="flexrow header-row-bottom">
        <div class="flexcol">
            {{> "systems/vtm5e/display/shared/actors/parts/health.hbs"}}
            {{> "systems/vtm5e/display/shared/actors/parts/willpower.hbs"}}
        </div>
        <div class="flexcol">
            {{> "systems/vtm5e/display/vtm/actors/parts/humanity.hbs"}}
            {{> "systems/vtm5e/display/vtm/actors/parts/hunger.hbs"}}
        </div>
        <div class="flexcol">
            {{> "systems/vtm5e/display/vtm/actors/parts/potency.hbs"}}
            {{> "systems/vtm5e/display/vtm/actors/parts/resonance.hbs"}}
        </div>
    </div>
</header>
