<div class="resource blood-potency">
    <label class="resource-label">
        {{localize 'WOD5E.VTM.BloodPotency'}}
    </label>
    <div class="resource-content">
        {{#if locked}}
            <span>
                {{bloodpotency}}
            </span>
        {{else}}
            <input
                type="number"
                min="0" max="10"
                name="system.blood.potency"
                value="{{bloodpotency}}"
                data-dtype="Number"/>
        {{/if}}
    </div>
</div>
