<div class="resource frenzy {{#if frenzyActive}}-active{{/if}}">
    <div class="resource-content">
        {{#if frenzyActive}}
            <button class="system-rollable"
                data-action="endFrenzy"
                type="button"
                name="endfrenzy">
                {{localize 'WOD5E.End'}}
            </button>
        {{else}}
            <button class="system-rollable"
                data-action="resistFrenzy"
                type="button" name="resistfrenzy">
                {{localize 'WOD5E.Roll'}}
            </button>
        {{/if}}
    </div>
    <label class="resource-label" for="placeholder">
        Frenzy
    </label>
</div>
