<header class="actor-header">
    <div class="flexrow header-row-bottom">
        {{#ifeq currentActorType 'coterie'}}
            {{> "systems/vtm5e/display/vtm/actors/coterie-sheet.hbs"}}
        {{/ifeq}}

        {{#ifeq currentActorType 'cell'}}
            {{> "systems/vtm5e/display/htr/actors/cell-sheet.hbs"}}
        {{/ifeq}}

        {{#ifeq currentActorType 'pack'}}
            {{> "systems/vtm5e/display/wta/actors/pack-sheet.hbs"}}
        {{/ifeq}}
    </div>
    {{#ifeq currentActorType 'coterie'}}
        {{#ifgr chasse.value 0}}
            <div class="resource hunt">
                <label class="resource-label">
                    {{localize "WOD5E.VTM.HuntingDifficulty"}}
                </label>
                <div class="resource-content">
                    <div class="resource-value">
                        {{decrement huntingDifficulty}}
                    </div>
                </div>
            </div>
        {{/ifgr}}
    {{/ifeq}}
</header>
