<header class="item-header">
    <div class="header-fields">
        <input class="itemname"
            name="name"
            type="text"
            value="{{name}}"
            placeholder="{{localize 'WOD5E.Name'}}"/>
        <div class="form-group">
            <label>
                {{localize "WOD5E.HTR.EdgeType"}}
            </label>
            <div class="form-fields">
                <select
                    name="system.edge"
                    data-type="String">
                    {{selectOptions edgeOptions selected=selectedEdge localize=true}}
                </select>
            </div>
        </div>
    </div>
</header>
