<form class="dialog-contents">
    <div class="dice-group-header">
        {{#unless disableBasicDice}}
            <label>{{localize 'WOD5E.VTM.VampireDice' }}</label>
        {{/unless}}
        {{#unless disableAdvancedDice}}
            <label>{{localize 'WOD5E.VTM.HungerDice' }}</label>
        {{/unless}}
    </div>
    <div class="base-dice-group">
        {{#unless disableBasicDice}}
            <div class="dice-input">
                <i class="item-control fas fa-minus dialog-control dialog-minus"
                    data-resource="inputBasicDice"
                    data-resource-action="minus"></i>
                <input
                    type="text"
                    id="inputBasicDice"
                    value="{{basicDice}}">
                <i class="item-control fas fa-plus dialog-control dialog-plus"
                    data-resource="inputBasicDice"
                    data-resource-action="plus"></i>
            </div>
        {{/unless}}
        {{#unless disableAdvancedDice}}
            <div class="dice-input">
                <i class="item-control fas fa-minus dialog-control dialog-minus"
                    data-resource="inputAdvancedDice"
                    data-resource-action="minus"></i>
                <input
                    type="text"
                    id="inputAdvancedDice"
                    value="{{advancedDice}}">
                <i class="item-control fas fa-plus dialog-control dialog-plus"
                    data-resource="inputAdvancedDice"
                    data-resource-action="plus"></i>
            </div>
        {{/unless}}
    </div>
    {{> "systems/vtm5e/display/ui/parts/roll-dialog-base.hbs"}}
</form>
