<div class="flexrow -gap-sm">
    <div class="flexcol detail-row">
        <label class="field-header">
            {{localize "WOD5E.BiographyList.ChronicleTenets"}}
        </label>
        <prose-mirror
            name="system.headers.tenets"
            value="{{tenets}}"
            toggled="true"
            compact="true">
            {{{enrichedTenets}}}
        </prose-mirror>
    </div>
</div>
