<div class="resource flex-group-center exp">
    <div class="resource-content flexrow flex-center flex-between">
        <input class="no-border" type="number" name="system.exp.value" value="{{actor.system.exp.value}}" data-dtype="Number" />
        <span>/</span>
        <input class="no-border" type="number" name="system.exp.max" value="{{actor.system.exp.max}}" data-dtype="Number" />
    </div>
    <label for="actor.system.exp" class="resource-label">{{localize "WOD5E.Exp"}}</label>
</div>
