<div class="experience">
    <div class="form-group">
        <div class="form-fields">
            <input id="xpName"
                type="text"
                value="{{name}}"
                placeholder="{{localize 'WOD5E.Name'}}"/>
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "WOD5E.Value"}}</label>
        <div class="form-fields">
            <input class="input-value"
                id="xpValue"
                type="number"
                value="{{value}}"
                placeholder="0"/>
        </div>
    </div>
    <hr>
</div>
