<div class="flexcol flex0">
    <div class="profile-img-zone"
        data-action="editImage">
        <img class="profile-img"
            src="{{img}}"
            title="{{name}}"/>
        {{> "systems/vtm5e/display/shared/actors/parts/lock-button.hbs"}}
    </div>
</div>
