<div class="flexcol">
    <div class="profile-img-zone">
        <img class="profile-img"
            data-action="editImage"
            src="{{img}}"
            title="{{actor.name}}"/>
        {{#if actor.isOwner}}
            <button class="lock-btn" type="button">
                {{#if locked}}
                    <i class="fa fa-lock"></i>
                {{else}}
                    <i class="fa fa-lock-open"></i>
                {{/if}}
            </button>
        {{/if}}
    </div>
</div>
