<div class="flexcol flex0">
    <div class="profile-img-zone">
        <img class="profile-img"
            data-action="editImage"
            src="{{img}}"
            title="{{name}}"/>
        {{> "systems/vtm5e/display/shared/actors/parts/lock-button.hbs"}}
    </div>
</div>
