<header class="item-header">
    <div class="header-fields">
        <input class="itemname"
            name="name"
            type="text"
            value="{{name}}"
            placeholder="{{localize 'WOD5E.Name'}}"/>
        <div class="form-group">
            <label>{{localize "WOD5E.ItemsList.Type"}}</label>
            <div class="form-fields">
                <input
                    type="text"
                    name="system.boontype"
                    value="{{boonType}}"/>
            </div>
        </div>
    </div>
</header>
