<header class="item-header">
    <div class="header-fields">
        <input class="itemname"
            name="name"
            type="text"
            value="{{name}}"
            placeholder="{{localize 'WOD5E.Name'}}"/>
    </div>
</header>
