<header class="item-header">
    <div class="header-fields">
        <input class="itemname"
            name="name"
            type="text"
            value="{{name}}"
            placeholder="{{localize 'WOD5E.Name'}}"/>
        <div class="form-group">
            <label>
                {{localize "WOD5E.RollList.RollModifier"}}
            </label>
            <div class="form-fields">
                <input
                    name="system.modifier"
                    value="{{modifier}}"
                    type="number"/>
            </div>
        </div>
    </div>
</header>
