<header class="item-header">
    <div class="header-fields">
        <input class="itemname"
            name="name"
            type="text"
            value="{{name}}"
            placeholder="{{localize 'WOD5E.Name'}}"/>
        <div class="form-group">
            <label>
                {{localize "WOD5E.Tabs.Dicepool"}}
            </label>
            <div class="form-fields">
                <input
                    name="system.dice"
                    value="{{dice}}"
                    type="number"
                    min="0"/>
            </div>
        </div>
    </div>
</header>
