<div class="form-group">
    <label>
        {{localize 'WOD5E.ItemsList.DataItemId'}}
        <a
            data-action="formatDataId"
            title="{{localize 'WOD5E.ItemsList.GenerateDataItemID'}}">
            <i class="fa-solid fa-arrows-rotate"></i>
        </a>
    </label>
    <div class="form-fields">
        <input
            type="text"
            value="{{dataItemId}}" disabled/>
    </div>
</div>
